*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

image{
    width:100%;
}
body{
    background-color: rgb(126, 126, 161);
    font-family: sans-serif;
}
/* header section */
header{
    display: grid;
    grid-auto-flow: column;
    background-color:#ffffff ;
    height: 56px;
    position: sticky;
   

}

header .left-logos{
    display: grid;
  grid-auto-flow: column;
    gap: 20px;
    place-items: start;
    justify-content: start;
    align-content: center;
    padding-left: 20px;
   
}
header .left-logos .three-lines{
    margin-top: -5px;
    width: 42px;

}
header .left-logos .you-tube{
  
    width:100px;
}
header .search-microphone{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding-left: 100px;
    margin-top: -6px;
    gap: 5px;
}


header .search-bar{
    justify-self:center;
    place-self: center;
    width: 640px;
    height: 40px;
    border: 0.5px solid rgb(199, 191, 191);
    font-size: 17px;
    padding: 10px;
    
    
}
header .search-microphone a{
    width: 60px;
    padding-top: px;
  
}
header .search-microphone a img{
height: 55px;
width: 55px;
padding-top: 10px;

 
}
header .right-logos{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 15px;
    padding: 10px;
    padding-right: 30px;
  
      
}

.right-logos .camera-logo{
    padding-top: 5px;
}
.right-logos .visard-logo{
    margin-top: -5px;
}
main .section-all{
    display: grid;
    grid-template-columns: 232px 1fr;
}
/* left sidebar section */
main .left-sidebar{
    display: grid;
    grid-auto-flow: row;
    padding-top: 5px;
    background-color:white;
    max-height: 1200px;

    overflow:auto;
}
main .left-sidebar .home{
    display: grid;
    grid-auto-flow: column;
    background-color: #e2e0e0;
    justify-content: start;
    height: 40px;
    padding: 10px;
    gap:25px;
    padding-left: 26px;
}
 
main .left-sidebar .explore{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px;
    padding: 10px;
    gap:25px;
    padding-left: 26px;
   
}
.home:hover{
background-color: grey;
}
.left-sidebar .explore:hover{
    background-color: rgb(236, 232, 232);
}


.explore img{
    margin-top: -3px;
    
    
   

}

main .left-sidebar .subscription{
    display: grid;
    grid-auto-flow: column;
   
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;
   
}
.subscription img{
    margin-top: -3px;
    background-color: none;
}

main .middle-items{
    background-color:white;
    
    border-top: 1px solid rgb(199, 191, 191);
    margin-top: 5px;
    padding-top: 8px;
}
.middle-items .library{
    display: grid;
    grid-auto-flow: column;
   
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;
}
.middle-items .history{
    display: grid;
    grid-auto-flow: column;

    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;

}
.middle-items .your-videos{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;


}
.middle-items .watch-later{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px; 
}
.middle-items .liked-videos{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;
}
.subscription-items h2{
    font-size: 15px;
    font-weight: 400px;
    padding: 10px;
    left: 0;
    margin-left: 15px;
    text-align: start;
    color: rgb(148, 144, 144);
}
main .subscription-items{
    background-color:white;
    padding-bottom: 10px;
    border-top: 1px solid rgb(199, 191, 191);
    margin-top: 5px;
    padding-top: 8px;
}
.subscription-items .top-channel{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;

}
.subscription-items img{
    width: 25px;
    border-radius: 50px;
}
.subscription-items .hoxton{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;

}
.subscription-items .ngop{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;

}
.subscription-items .koha-jone{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;

}
.subscription-items .enigma{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;

}
main .more-items{
    background-color:white;
   
    border-top: 1px solid rgb(199, 191, 191);
    margin-top: 5px;
    padding-top: 8px;

}
.more-items h2{
    font-size: 15px;
    font-weight: 400px;
    padding: 10px;
    left: 0;
    margin-left: 15px;
    text-align: start;
    color: rgb(148, 144, 144);

}
.more-items .gaming{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.more-items .live{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.more-items .fashion-beauty{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.more-items .learning{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.more-items .sports{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}

main .technical-items{
    background-color:white;
   
    border-top: 1px solid rgb(199, 191, 191);
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.technical-items .settings{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.technical-items .report-history{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.technical-items .help{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
.technical-items .send-feedback{
    display: grid;
    grid-auto-flow: column;
    background-color:white;
    justify-content: start;
    height: 40px; 
    padding: 10px;
    gap:25px;
    padding-left: 26px;  

}
main .press-advertise ul{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
    list-style: none;
    text-align: start;
    padding-left: 20px;
    border-top: 1px solid rgb(199, 191, 191);
    padding-bottom: 20px;

}
.press-advertise ul li{
    color: #606060;;
    font-size: 13px;

}

main .terms-conditions ul{
     display: grid;
    grid-template-columns: auto auto auto ;
    padding-top: 10px;
    list-style: none;
    text-align: start;
    padding-left: 20px;
  
    gap: 5px;
    border-top: 1px solid rgb(199, 191, 191);

}
.terms-conditions ul li{
    color: #606060;;
   font-size: 13px;
 
 
}

.left-sidebar .copyright p{
    color: #606060;;

 font-size: 13px; 
 text-align: center;
padding-right: 80px;
padding-bottom: 10px;
}
  
/* right section */
main .right-part{
    display: grid;
   grid-template-rows: 50px auto;
  
   
}
main .head-section{
    background-color:white;
    height: 50px;
    border-top: 1px solid rgb(199, 191, 191);;
    border-bottom: 1px solid rgb(199, 191, 191);
    overflow: auto;

}
main .head-section ul {
display: grid;
grid-auto-flow: column;
list-style: none;
justify-content: start;
gap: 10px;

padding: 8px;
padding-left:24px;

}

 

main .head-section button{
    border: 0.5px solid rgb(207, 206, 206);
    border-radius: 20px;
    padding: 8px 10px;
    justify-items: center;
    min-width: max-content;
}
main .right-part .section-videos{
    background-color:#f9f9f9;;
  
    overflow: auto;
    height: 100%;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-content: start;
    justify-content: center;
    gap:16px ;
  
    padding:24px;
    padding-top:;
 

}
/* video-1 */
.section-videos .video-1{
    display: grid;
    grid-template-rows:auto auto;
    padding-bottom: 30px;
   
  
}
.video-background{
    height: 150px;
    background-color: cyan;
    background-image: url("https://i.ytimg.com/vi/T3GrQtkFW74/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&amp;rs=AOn4CLDsLYYIFHyxwBwQNwyDN3YcXUMHGA");
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.video-background p{
  position: absolute;
    font-size: 14px;
    color: white;
    text-align: end;
   
    padding-right: 7px;
    font-weight: 550;
    background-color:black;
    width: 40px;
    height:20px;
    right: 3px;;
    bottom: 3px;

  
    
}
.bottom-infos{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-content: start;
    justify-content: start;
    padding-top: 10px;
  
}


.bottom-infos img{
    border-radius: 50px;
    justify-content: start;
    width: 35px;
    margin-top: 5px;

   
}
.bottom-infos h2{
   
    font-size: 15px;
    font-weight: ;
   
}
.bottom-infos h3{
    font-size: 13px;
   color: #606060;
   font-weight: 100px;
}
.bottom-infos p{
  
    font-size: 13px;
    color: #606060;;
}
.video-infos{
padding-top: 5px;
    display: grid;
   grid-auto-flow: row;
   gap: 5px;

}
.video-one{
    text-decoration: unset;
    color: unset;
}
/* video-2 */